In [ ]:
import pandas as pd, pathlib

#Path to the folder containing CSV files
DATA = pathlib.Path('../data/raw/Data set')

# Load the 3 CSV files
date_info  = pd.read_csv(DATA / 'date_info.csv', parse_dates=['calendar_date'])
visitors   = pd.read_csv(DATA / 'restaurants_visitors.csv',
                         parse_dates=['visit_date','visit_datetime','reserve_datetime'])
store_info = pd.read_csv(DATA / 'store_info.csv')

# Display dimensions and first few rows of each dataset
for name, df in [('date_info', date_info),
                 ('visitors', visitors),
                 ('store_info', store_info)]:
    print(f"{name}: {df.shape}")
    display(df.head())

date_info: (517, 3)

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

visitors: (12162, 5)

,id,visit_date,visit_datetime,reserve_datetime,reserve_visitors
0,db80363d35f10926,2016-01-01,01/01/2016 00:00,01/01/2016 01:00,5
1,db80363d35f10926,2016-01-02,02/01/2016 01:00,01/01/2016 16:00,2
2,db80363d35f10926,2016-01-02,02/01/2016 01:00,01/01/2016 15:00,4
3,db80363d35f10926,2016-01-02,02/01/2016 18:00,02/01/2016 14:00,2
4,db80363d35f10926,2016-01-02,02/01/2016 18:00,02/01/2016 02:00,3

store_info: (829, 5)

,store_id,genre_name,area_name,latitude,longitude
0,0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
1,7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
2,fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
3,a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
4,83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599